# Set to true only after a dedicated DNSPod CAM credential is configured.
CAMERA_HUB_DDNS_ENABLED='false'

CAMERA_HUB_DDNS_DOMAIN='gwghome.site'
CAMERA_HUB_DDNS_SECRET_ID=''
CAMERA_HUB_DDNS_SECRET_KEY=''
CAMERA_HUB_DDNS_INTERFACE='wlan0'
CAMERA_HUB_DDNS_TTL='600'
CAMERA_HUB_DDNS_INTERVAL_SECONDS='60'
CAMERA_HUB_DDNS_FORCE_SECONDS='21600'
CAMERA_HUB_DDNS_STATE_FILE='/home/android/.config/camera-hub-ddns.state'

# Each value is the stable lower 64 bits of the corresponding device IPv6.
CAMERA_HUB_DDNS_RECORDS='@=528f:4cff:feef:dd90,mi6=528f:4cff:feef:dd90,v831=a22c:36ff:febd:4feb,lecoo=8647:09ff:fe45:35a0,lecoo-wifi=72c9:12ff:fe1c:2f67,huawei=1a56:80ff:fe82:816a'
