{
  "version": 1,
  "revision": 1,
  "enabled": false,
  "domain": "gwghome.site",
  "secret_id": "",
  "secret_key": "",
  "interface": "wlan0",
  "ttl": 600,
  "interval_seconds": 60,
  "force_seconds": 21600,
  "records": [
    {
      "name": "@",
      "iid": "528f:4cff:feef:dd90"
    },
    {
      "name": "mi6",
      "iid": "528f:4cff:feef:dd90"
    },
    {
      "name": "v831",
      "iid": "a22c:36ff:febd:4feb"
    },
    {
      "name": "lecoo",
      "iid": "8647:9ff:fe45:35a0"
    },
    {
      "name": "lecoo-wifi",
      "iid": "72c9:12ff:fe1c:2f67"
    },
    {
      "name": "huawei",
      "iid": "1a56:80ff:fe82:816a"
    }
  ]
}
